html {
    background-color:#F6F6F6;
}

.container{
margin: 0px;
padding: 0px;


}

body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-color:#F6F6F0;
            <!-- border-style: solid;
            border-width: 10px;
            border-color: blue;-->
}

#karta {
box-sizing: border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;

width: 100%;
height:100%;
display: flex;
    
}


#ruta1 {
    padding: 12px;
    font-family: sans-serif;
    font-size: 14pt;
    overflow: hidden;
    
}

#header {
    
}
#header_image {
    width: 100%;

}

.slider {
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: #4F2E1D;
    display: flex;
    
}

.bilden {
    display: flex;
    width: 100%;
} 


#bild1  {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
        border-style: solid;
        border-left: 0px;
        
        width: 33%;
        display: flex; 
        float:left;
}

#bild2 {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-right: 0px;
    border-style: solid;
        float:right;
        width:33%;
        display: flex;
}

#bild3 {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    
    float:right;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:34%;
    min-width: inherit;
    
    display: flex;
}

#left_pic {
    width: 100%;
    height: inherit;
}
#middle_pic {
    width:100%;
    height: inherit;
    
}
#right_pic {
    width: 100%;
    height: inherit;
}



 
.pushmenu {
        background: #3c3933;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 1000;
}
 
.pushmenu h3 {
        color: #cbbfad;
        font-size: 14px;
        font-weight: bold;
        padding: 15px 20px;
        margin: 0;
        background: #282522;    
        height: 16px;
}
 
.pushmenu a {
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-top: 1px solid #57544e;
        border-bottom: 1px solid #312e2a;
        padding: 14px;
}
 
.pushmenu a:hover {
        background:258ecd;      
}
 
.pushmenu a:active {
        background: #454f5c;
        color: #fff;    
}
 
.pushmenu-left {
        left: -240px;   
}
 
.pushmenu-left.pushmenu-open {
        left: 0px;      
}
 
.pushmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;        
}
 
.pushmenu-push-toright {
        left: 240px;    
}
 
/*Transition*/
.pushmenu, .pushmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;      
}
 
#nav_list {
        background: url(../bilder/icon_nav.png) no-repeat left top;
        cursor: pointer;
      
        height: 27px;
        width: 33px;
        text-indent: -99999em;  
}
 
#nav_list.active {
        background-position: -33px top; 
}
 
.buttonset {
        background: linear-gradient(center top , #6b85b3, #334d86);
        background:-moz-linear-gradient(center top , #6b85b3, #334d86);
    background: -webkit-gradient(linear, center top, center bottom, from(#4F2E1D), to(#4F2E1D));
        height: 16px;
        padding: 10px 20px 20px;
}
 
section.content {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 0px;     
}

#appkarta{
    
    position: absolute;
    top:46px;
    left:0px;
    right:0px;
    bottom:0px; 

}


/* Image map styles */
.imageMap 
{
    width:100%; 
    height: 100%; 
    overflow-y: hidden;
    
<!--   margin-bottom:0px;
    margin-left:0px;
    margin-right: 0px;
    margin-top: 46px;  -->
}
.imageMap img {display:block; width:100%;  border-radius:20px;}
.imageMap .hotspots {width:100%; height:100%; position:absolute; left:0; top:0; visibility:hidden;}
.imageMap a {display:block; position:absolute; background:#000; z-index:100; opacity:0.2; filter: alpha(opacity=20); border:1px solid transparent; border-radius:10px;}
.imageMap a.p1 {left:41%; top:51%; width:5%; height:3%;}
.imageMap a.p2 {left:76%; top:13%; width:21%; height:30%;}
.imageMap a.p3 {left:5%; top:44%; width:22%; height:42%;}
.imageMap a.p4 {left:28%; top:41%; width:26.5%; height:43%;}
.imageMap a.p5 {left:55%; top:64%; width:15%; height:26%;}
.imageMap a.p6 {left:72%; top:53%; width:25%; height:35%;}
.imageMap a + p {position:absolute; left:0%; top:102%; width:100%; color:#000; display:none;}

.imageMap:hover 
.hotspots {visibility:visible;}
.imageMap p strong {display:block; padding:0; margin:0; font: bold 25px/30px 'times new roman',serif; color:#000;}
.imageMap p {padding:0; margin:0; font: normal 18px/22px 'times new roman',serif; color:#444;}

.imageMap b {display:block; position:absolute; background:url(trans.gif); z-index:200; opacity:0.2; filter: alpha(opacity=20); padding:1px;
-webkit-transition:0.75s;
-moz-transition:0.75s;
-o-transition:0.75s;
transition:0.75s;
}
.imageMap b.b1 {left:11%; top:5%; width:25%; height:34%;}
.imageMap b.b2 {left:76%; top:13%; width:21%; height:30%;}
.imageMap b.b3 {left:5%; top:44%; width:22%; height:42%;}
.imageMap b.b4 {left:28%; top:41%; width:26.5%; height:43%;}
.imageMap b.b5 {left:55%; top:64%; width:15%; height:26%;}
.imageMap b.b6 {left:72%; top:53%; width:25%; height:35%;} 

.imageMap .hotspots div:hover b {width:0; padding:0;}
.imageMap .hotspots div:hover p {display:block;}
.imageMap .hotspots div:hover a {background:#fff; z-index:100; opacity:0.3; filter: alpha(opacity=30); border:1px solid #000;}




